@page "/"

      <section id="how-it-work">
         <div class="features">
            <div class="container">
               <div class="title text-center">
                  <h5>How It Works</h5>
                  <h2>Softwall Is A Quick<br>Spending Solutions</h2>
               </div>
               <div class="row">
                  <div class="col-sm-12 col-lg-6">
                     <div class="features-box light-pink-bdr">
                        <div class="lft-content">
                           <div class="img-icon light-pink-bg">
                              <img src="assets/images/icon_1.png" alt="feature">	
                           </div>
                        </div>
                        <div class="rgt-content">
                           <h3>Take A Trail For 7 Days</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                     <div class="features-box light-green-bdr">
                        <div class="lft-content">
                           <div class="img-icon light-green-bg">
                              <img src="assets/images/icon_2.png" alt="feature">	
                           </div>
                        </div>
                        <div class="rgt-content">
                           <h3>Install & Play With It</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                     <div class="features-box light-perpal-bdr">
                        <div class="lft-content">
                           <div class="img-icon light-perpal-bg">
                              <img src="assets/images/icon_3.png" alt="feature">	
                           </div>
                        </div>
                        <div class="rgt-content">
                           <h3>Make Your Payment</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                     <div class="features-box light-skye-bdr">
                        <div class="lft-content">
                           <div class="img-icon light-skye-bg">
                              <img src="assets/images/icon_4.png" alt="feature">	
                           </div>
                        </div>
                        <div class="rgt-content">
                           <h3>Get Started With Pro Version</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- / how-it-work -->

      <!-- about -->
      <section id="about">
         <div class="about">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-lg-7">
                     <div class="title">
                        <h5>Creative Landingpage</h5>
                        <h2>Choose Softwall<br>For Your Business</h2>
                     </div>
                     <div class="about-text">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</p>
                        <p>Vestibulum erat wisi, condimentum sed, feugiat vitae, dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus. </p>
                        <a class="rbtn" href="#">Get Start For 7 Days</a>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-5">
                     <div class="dashboard"> <img src="assets/images/dashboard.jpg" alt="about-imag" /> </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- about -->
      <!-- call_to_action -->
      <section id="call_to_action">
         <div class="call_to_action">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-lg-12">
                     <div class="title text-center">
                        <h5><img src="assets/images/logo.png" alt="header-logo"></h5>
                        <h2>Overall 30k+ client are<br/>using, Get start Now</h2>
                     </div>
                     <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                        <a class="rbtn" href="#">Get Trail</a> <a class="rbtn" href="#">Our Pricing</a>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-12">
                     <div class="tab"> <img src="assets/images/tab.png" alt="about-imag" /> </div>
                  </div>
                 
               </div>
            </div>
         </div>
      </section>
      <!-- call_to_action -->
      <!-- why_choose -->
      <section id="why-choose">
         <div class="features">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-lg-7">
                     <div class="title">
                        <h5>Why We Are</h5>
                        <h2>Why Choose Us <br>For Future Project</h2>
                     </div>
                     <div class="features-box light-pink-bdr">
                        <div class="lft-content">
                           <div class="img-icon color-bg1">
                              <i class="glyph-icon flaticon-idea"></i>
                           </div>
                        </div>
                        <div class="rgt-content">
                           <h3>Pixel Perfect Design</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation..</p>
                        </div>
                     </div>
                     <div class="features-box light-green-bdr">
                        <div class="lft-content">
                           <div class="img-icon color-bg2">
                              <i class="glyph-icon flaticon-transparency"></i>
                           </div>
                        </div>
                        <div class="rgt-content">
                           <h3>Unique & Minimal Design</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                     </div>
                     <div class="features-box light-perpal-bdr">
                        <div class="lft-content">
                           <div class="img-icon color-bg3">
                              <i class="glyph-icon flaticon-business-and-finance"></i>
                           </div>
                        </div>
                        <div class="rgt-content">
                           <h3>24/7 Free Online Support</h3>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-5">
                     <div class="dashboard">
                        <div class="mobile_1">
                           <img src="assets/images/mobile_1.png" alt="about-imag" /> 
                        </div>
                        <div class="mobile_2">
                           <img src="assets/images/mobile_2.png" alt="about-imag" /> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- / why_choose -->
      <!-- preview -->
      <section id="preview">
         <div class="spicel-features">
            <div class="container">
			   <div class="col-xs-12 ">
				  <h2>&nbsp;</h2>
                  <nav>
                     <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="glyph-icon flaticon-monitor"></i> Desktop Version</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="glyph-icon flaticon-ipad"></i> Tab Version</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="glyph-icon flaticon-iphone"></i> Mobile Version</a>
                     </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                     <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="title">
                                 <h5>Prominent Business Trend</h5>
                                 <h2>Take advantage<br>of media's</h2>
                              </div>
                              <ul>
                                 <li>Easy to easy & user friendly.</li>
                                 <li>Quality Efficiency, Maintainability, Portability.</li>
                                 <li>Best Functionality, Reliability, Usability.</li>
                                 <li>Easy to easy & user friendly.</li>
                              </ul>
                              <a href="#" class="rbtn">Learn More</a>
                           </div>
                           <div class="col-lg-6">
                              <div class="laptop-mockup">
                                 <img src="assets/images/laptop_mockup.png" alt="laptop_mockup">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="title">
                                 <h5>Prominent Business Trend</h5>
                                 <h2>Take advantage<br>of media's</h2>
                              </div>
                              <ul>
                                 <li>Easy to easy & user friendly.</li>
                                 <li>Quality Efficiency, Maintainability, Portability.</li>
                                 <li>Best Functionality, Reliability, Usability.</li>
                                 <li>Easy to easy & user friendly.</li>
                              </ul>
                              <a href="#" class="rbtn">Learn More</a>
                           </div>
                           <div class="col-lg-6">
                              <div class="laptop-mockup">
                                 <img src="assets/images/laptop_mockup.png" alt="laptop_mockup">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="title">
                                 <h5>Prominent Business Trend</h5>
                                 <h2>Take advantage<br>of media's</h2>
                              </div>
                              <ul>
                                 <li>Easy to easy & user friendly.</li>
                                 <li>Quality Efficiency, Maintainability, Portability.</li>
                                 <li>Best Functionality, Reliability, Usability.</li>
                                 <li>Easy to easy & user friendly.</li>
                              </ul>
                              <a href="#" class="rbtn">Learn More</a>
                           </div>
                           <div class="col-lg-6">
                              <div class="laptop-mockup">
                                 <img src="assets/images/laptop_mockup.png" alt="laptop_mockup">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- preview end -->
      <!-- prices -->
      <section id="prices">
         <div class="prices">
            <div class="container">
               <div class="title text-center">
                  <h5>Pricing Plans</h5>
                  <h2>Our Pricing</h2>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-sm-12">
                     <div class="price-box">
                        <div class="price-icon">
                           <img src="assets/images/pricing_icon_1.png" alt="laptop_mockup">
                        </div>
                        <div class="title-box">
                           <h3>BASIC</h3>
                        </div>
                        <div class="price">							
                           <strong>Free</strong> / Month
                        </div>
                        <ul>
                           <li>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis in nostrud is exercitation.</li>
                        </ul>
                        <div class="btn-box">
                           <a href="#">Purchase Now</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                     <div class="price-box active">
                        <div class="price-icon">
                           <img src="assets/images/pricing_icon_2.png" alt="laptop_mockup">
                        </div>
                        <div class="title-box">
                           <h3>ADVANCED</h3>
                        </div>
                        <div class="price">
                           <sub>$</sub>
                           <strong>37</strong> / mo
                        </div>
                        <ul>
                           <li>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis in nostrud is exercitation.</li>
                        </ul>
                        <div class="btn-box">
                           <a href="#">Purchase Now</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                     <div class="price-box">
                        <div class="price-icon">
                           <img src="assets/images/pricing_icon_3.png" alt="laptop_mockup">
                        </div>
                        <div class="title-box">
                           <h3>TEAM</h3>
                        </div>
                        <div class="price">
                           <sub>$</sub>
                           <strong>99</strong> / mo
                        </div>
                        <ul>
                           <li>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis in nostrud is exercitation.</li>
                        </ul>
                        <div class="btn-box">
                           <a href="#">Purchase Now</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- /prices -->
      <!-- payment-sections -->
      <section>
         <div class="payment-sections">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-lg-6">
                     <div class="title">
                        <h5>Easy Payment System</h5>
                        <h2>You Can Give<br>Payment Easily</h2>
                     </div>
                     <div class="payment-sections-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                        <div class="video-box">
                           <div class="video-img">
                              <img src="assets/images/video_img_1.jpg" alt="video">
                           </div>
                           <div class="video-text">
                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat. </p>
                           </div>
                        </div>
                        <a class="rbtn" href="#">Get Start For 7 Days</a>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                     <div class="feature-box">
                        <div class="box">
                           <div class="box-text color-bdr-01">
                              <div class="icon">
                                 <img src="assets/images/payment_1.png" alt="payment_1">
                              </div>
                              <h5>Make Payment</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                           </div>
                           <div class="box-text color-bdr-02">
                              <div class="icon">
                                 <img src="assets/images/payment_2.png" alt="payment_1">
                              </div>
                              <h5>Sucure Payment</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                           </div>
                        </div>
                        <div class="box">
                           <div class="box-text color-bdr-03">
                              <div class="icon">
                                 <img src="assets/images/payment_3.png" alt="payment_1">
                              </div>
                              <h5>Custom Payment</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                           </div>
                           <div class="box-text color-bdr-04">
                              <div class="icon">
                                 <img src="assets/images/payment_4.png" alt="payment_1">
                              </div>
                              <h5>Online Support</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- payment-sections -->	
      <!-- team -->
      <section id="team">
         <div class="team">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-lg-3">
                     <div class="title">
                        <h5>Angels</h5>
                        <h2>Our Team<br>Here For You</h2>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-9">
                     <div class="team-box">
                        <div class="box">
                           <div class="box-text">
                              <div class="icon">
                                 <img src="assets/images/team_1.png" alt="payment_1">
                              </div>
                              <h2>Abdul Subhan</h2>
                              <h5>Founder</h5>
                           </div>
                           <div class="box-text">
                              <div class="icon">
                                 <img src="assets/images/team_2.png" alt="payment_1">
                              </div>
                              <h2>Romarola D. Pong</h2>
                              <h5>C.e.o</h5>
                           </div>
                           <div class="box-text">
                              <div class="icon">
                                 <img src="assets/images/team_3.png" alt="payment_1">
                              </div>
                              <h2>Jingkur H. Land</h2>
                              <h5>consultant</h5>
                           </div>
                        </div>
                        <div class="box">
                           <div class="box-text">
                              <div class="icon">
                                 <img src="assets/images/team_4.png" alt="payment_1">
                              </div>
                              <h2>Troma C. Kelio</h2>
                              <h5>designer</h5>
                           </div>
                           <div class="box-text">
                              <div class="icon">
                                 <img src="assets/images/team_5.png" alt="payment_1">
                              </div>
                              <h2>Shuvo Huq</h2>
                              <h5>UI designer</h5>
                           </div>
                           <div class="box-text">
                              <div class="icon">
                                 <img src="assets/images/team_1.png" alt="payment_1">
                              </div>
                              <h2>Subhan Khan</h2>
                              <h5>Web developer</h5>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- /team -->
      <!-- progress_bar -->
      <section>
         <div class="progress-bar">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-lg-12">
                     <div class="title text-center">
                        <h2>You Need To Be Hired a<br>Master Of Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                           in reprehenderit in voluptate.
                        </p>
                     </div>
                  </div>
                  <div class="col-sm-12 col-lg-12">
                     <div class="progress-bar-box">
                        <div class="box">
                           <div class="box-text">
                              <div class="progress" data-percentage="60">					
								<span class="progress-left">
									<span class="progress-bar"></span>
								</span>
								<span class="progress-right">
									<span class="progress-bar"></span>
								</span>
								<div class="progress-value">				
									<div>
										2800+
									</div>					
								</div>
							</div>
                              <h5>Work Process</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                           </div>
                           <div class="box-text">
                              <div class="progress" data-percentage="70">					
								<span class="progress-left">
									<span class="progress-bar"></span>
								</span>
								<span class="progress-right">
									<span class="progress-bar"></span>
								</span>
								<div class="progress-value">				
									<div>
										9000+
									</div>					
								</div>
							</div>
                              <h5>Overall Client</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                           </div>
                           <div class="box-text">
                              <div class="progress" data-percentage="90">					
								<span class="progress-left">
									<span class="progress-bar"></span>
								</span>
								<span class="progress-right">
									<span class="progress-bar"></span>
								</span>
								<div class="progress-value">				
									<div>
										10000+
									</div>					
								</div>
							</div>
                              <h5>Project Done</h5>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- /team -->
      <!-- download -->
      <section id="download">
         <div class="download">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-lg-7">
                     <div class="title">
                        <h5>Get 30 days trail</h5>
                        <h2>Meet With Future <br>Sass Landing</h2>
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                     <a class="rbtn active" href="#"><i class="fa fa-android" aria-hidden="true"></i> <span>Get It On</span><br>Google Play</a>
                     <a class="rbtn" href="#"><i class="fa fa-apple" aria-hidden="true"></i> <span>Get It On</span><br>Appple Store</a>
                  </div>
                  <div class="col-sm-12 col-lg-5">
                     <div class="dashboard">
                        <div class="mobile_1">
                           <img src="assets/images/app_mockup.png" alt="about-imag" /> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- / download -->
