<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TagzApp.Public.styles.css" />
		<link rel="stylesheet" href="assets/css/style.css" type="text/css">
		<link rel="shortcut icon" href="assets/img/ficon.png">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
		<!-- jQuery 
				============================================ -->
		<script src="assets/js/jquery-3.1.1.min.js"></script>
		<!-- Bootstrap Core JavaScript 
				============================================ -->
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.easing.min.js"></script>
		<!-- baguetteBox -->
		<script src="assets/js/baguetteBox.js" async></script>
		<script src="assets/js/plugins.js" async></script>
		<!--  countTo JavaScript  -->
		<script src="assets/js/jquery.countTo.js"></script>
		<!--  wow JavaScript 
				============================================ -->
		<script src="assets/js/wow.min.js"></script>
		<!--  Custom Theme JavaScript 
				============================================ -->
			<script src="assets/js/custom.js"></script>
</body>

</html>