<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="back-btn nl-simple">
						<a href="#home" class="nav-link"><i class="glyph-icon flaticon-up-arrow"></i></a>
					</div>
					<div class="title text-center">
						<h2>What Client Working With Softwall <br>And They are happy</h2>
					</div>
					<div class="footer-logo">
						<div class="logo">
							<img src="images/footer_logo_1.png" alt="footer_logo_1" />
						</div>
						<div class="logo">
							<img src="images/footer_logo_2.png" alt="footer_logo_1" />
						</div>
						<div class="logo">
							<img src="images/footer_logo_4.png" alt="footer_logo_1" />
						</div>
						<div class="logo">
							<img src="images/footer_logo_5.png" alt="footer_logo_1" />
						</div>
						<div class="logo">
							<img src="images/footer_logo_3.png" alt="footer_logo_1" />
						</div>
						<div class="logo">
							<img src="images/footer_logo_6.png" alt="footer_logo_1" />
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-lg-3">
					<div class="weight">
						<h3><img src="images/logo.png" alt="flogo"></h3>
						<div class="social-f">
							<div> <a href="#" class="fac"><i class="fa fa-facebook"></i></a> </div>
							<div><a href="#" class="twi"><i class="fa fa-twitter"></i></a></div>
							<div><a href="#" class="goo"><i class="fa fa-google-plus"></i></a></div>
							<div><a href="#" class="behance"><i class="fa fa-github" aria-hidden="true"></i></a> </div>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-lg-6">
					<div class="f-menu-content">
						<div class="f-menu">
							<h3>Company</h3>
							<ul>
								<li><a href="#">Team</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Career</a></li>
								<li><a href="#">Overview</a></li>
							</ul>
						</div>
						<div class="f-menu">
							<h3>Help</h3>
							<ul>
								<li><a href="#">Documentation</a></li>
								<li><a href="#">Github</a></li>
								<li><a href="#">Javadocs</a></li>
								<li><a href="#">Cummunity</a></li>
							</ul>
						</div>
						<div class="f-menu">
							<h3>Product</h3>
							<ul>
								<li><a href="#">Software</a></li>
								<li><a href="#">Landingpage</a></li>
								<li><a href="#">Sass Page</a></li>
								<li><a href="#">Back End</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-lg-3">
					<div class="weight">
						<h3>Subscibe For Updates</h3>
						<p>No need credit card.</p>
						<!-- form -->
						<form name="ajax-form" id="contact-form4"
							action="https://formsubmit.io/send/90aa5128-c301-47bf-ae81-794fa4c07dda" method="post"
							class="contact-form  newslater">
							<div class="form-group">
								<input class="form-control" id="email2" name="email" type="email" placeholder="Your email" value=""
									required>
								<button type="submit" class="btn btn-custom" id="send2"><i
										class="glyph-icon flaticon-email"></i></button>
							</div>
							<!-- /Form-email -->
						</form>
						<!-- /form -->
					</div>
				</div>
				<div class="col-md-12">
					<div class="copy-right text-center">
						<p>Copyright By - Zcube</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
