<div class="main-header">
	<div class="container">
		<div class="row">
			<div class="main-header-text animated fadeIn">
				<div class="col-sm-12 col-lg-8">
					<h5>Number #01 Creative Landingpage</h5>
					<h2 class="wow fadeInLeft animated">
						Best Software<br />For Your Business
					</h2>
					<a href="#" class="wow  fadeInUp animated active">Request For Quote</a>
					<a href="#" class="wow  fadeInUp animated">More Features</a>
				</div>
			</div>
			<div class="pan">
				<img src="assets/images/pan.png" alt="header-img" class="wow fadeInLeft animated" />
			</div>
			<div class="laptop">
				<img src="assets/images/laptop.png" alt="header-img" class="wow fadeInRight animated" />
			</div>
		</div>
	</div>
</div>
